<!--div class="container">
    <button mat-button routerLink="/products">Back</button>
    <form mat-form-field [formGroup]="productForm" (ngSubmit)="save()">
        <label>
            Name: <input type="text" formControlName="name">
        </label>
        <label>
            Brand: <input type="text" formControlName="brand">
        </label>
        <label>
            Percentage: <input type="number" formControlName="percentage">
        </label>
        <label>
            Price: <input type="number" formControlName="price">
        </label>
        <label>
            Stock: <input type="number" formControlName="stock">
        </label>
        <button mat-button type="submit">Save</button>
    </form>
</div-->
<!--TODO: finish form control-->
<div class="example-container" fxLayout="column">
    <div fxLayout="row" >
        <button mat-button class="btn-back" routerLink="/products">Back</button> 
    </div>
    <form [formGroup]="productForm" (ngSubmit)="save()">
        <div fxLayout="row" fxLayoutAlign="center">
            <mat-form-field >
                <input matInput formControlName="name" placeholder="Name">
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <mat-form-field>
                    <input matInput formControlName="brand" placeholder="Brand">
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">    
            <mat-form-field>
                    <input type="number" formControlName="percentage" matInput placeholder="Percentage">
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <mat-form-field>
                    <input type="number" formControlName="price" matInput placeholder="Price">
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <mat-form-field>
                    <input type="number" formControlName="stock" matInput placeholder="Stock">
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <button mat-button class="btn-save" type="submit">Save</button>
        </div>
    </form>
</div>