<div class="container">
  <div fxLayout="row"><button routerLink="/products" mat-button color="primary">Back</button></div>
  <h4 *ngIf="!currentBeer" fxFill fxLayoutAlign="center center">
      <mat-spinner></mat-spinner>
  </h4>
  <div>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Product details</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div>
          <pre>
            Product ID: {{currentBeer.id}}
            Name: {{currentBeer.name}}
            Brand: {{currentBeer.brand}}
            Percentage: {{currentBeer.percentage}}%
            Price: {{currentBeer.price}} dkk
            Stock: {{currentBeer.stock}} pcs
          </pre>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>