<!--h1>Customer details</h1>
<button routerLink="/customers">Back</button>
<div *ngIf="currentCustomer">
  <pre>
    Id: {{currentCustomer.id}}
    First Name: {{currentCustomer.firstName}}
    Last Name: {{currentCustomer.lastName}}
    Address: {{currentCustomer.address}}
    Email: {{currentCustomer.email}}
    Phone number: {{currentCustomer.phoneNumber}}
  </pre>
</div>
<div *ngIf="!currentCustomer">
  <h2>Customer not found!</h2>
</div-->
<div class="container">
    <div fxLayout="row"><button routerLink="/customers" mat-button color="primary">Back</button></div>
    <h4 *ngIf="!currentCustomer" fxFill fxLayoutAlign="center center">
        <mat-spinner></mat-spinner>
    </h4>
    <div>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Customer details</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div>
            <pre>
                Id: {{currentCustomer.id}}
                First Name: {{currentCustomer.firstName}}
                Last Name: {{currentCustomer.lastName}}
                Address: {{currentCustomer.address}}
                Email: {{currentCustomer.email}}
                Phone number: {{currentCustomer.phoneNumber}}
              </pre>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>